*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em;
    min-height: 100vh;
}

.btn-theme {
    background: $base-color-light;
    color: $green-light;
    outline: none;
    border: 2px solid $green-light;
    padding: 0.8em 1.2em;
    font-size: 1em;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover{
        background: $base-color-dark;
        color: $green;
        border-color: $green;
    }
}

.pos-flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}